body
  margin: 0
  background-color: #ccc
.left
  position: relative
  float: left
  margin: 2em
.clear
  clear: both
#ui
  padding: 0.5em 2em
  background-color: black
#content
  background-color: white
  border: 1px solid black
  padding: 2em
  width: 20em
.token
  margin-bottom: 10px
  background-color: white
  border: 1px solid black
  overflow: hidden
